**/bin
**/obj
**/node_modules
**/.git
**/README.md

**/Dockerfile*
**/.dockerignore

**/Api/wwwroot

# Development configuration
**/Api/appsettings.json
**/Api/appsettings.Development.json
**/Api/appsettings.Production.json
.env
.env.production

# EF Migrations
Persistence/Migrations

# Charts
Domain/ClassDiagrams

# IDEs
**/.vs
**/.vscode
**/.idea
