$header-height: 52px;

body {
  margin: 0;
  padding: 0;
}

.d-block {
  display: block;
}

.text-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0 !important;
}

.btn-success {
  background: #00b96b;
  box-shadow: 0 2px 0 rgba(5, 213, 88, 0.12);

  &:hover {
    background: #20c77c !important;
  }
}

.right-btn {
  display: block;
  margin-left: auto;
}

.mr-avatar {
  margin-right: 10px;
}

.mt-field {
  margin-top: 24px;
}

.mb-field {
  margin-bottom: 24px;
}

.mb-breadcrumb {
  margin-bottom: 0.67em;
}

.mt-course_material {
  margin-top: 1.2rem;
}
