$header-height: 52px;

body {
  margin: 0;
  padding: 0;
}

:root {
  --table-border-color: rgb(240, 240, 240);
}

body.dark {
  --table-border-color: rgb(48, 48, 48);
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0 !important;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.pe-3 {
  padding-right: 1rem;
}

.ps-0 {
  padding-left: 0;
}

.ps-1 {
  padding-left: 0.25rem;
}

.ps-2 {
  padding-left: 0.5rem;
}

.ps-3 {
  padding-left: 1rem;
}

.btn-success {
  background: #00b96b;
  box-shadow: 0 2px 0 rgba(5, 213, 88, 0.12);

  &:hover {
    background: #20c77c !important;
  }
}

.right-btn {
  display: block;
  margin-left: auto;
}

.square-radio {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  label {
    border-radius: 0 !important;
  }
}

.mr-avatar {
  margin-right: 10px;
}

.mt-field {
  margin-top: 24px;
}

.mb-field {
  margin-bottom: 24px;
}

.mb-breadcrumb {
  margin-bottom: 0.67em;
}

.mt-course_material {
  margin-top: 1.2rem;
}

.pb-label-field {
  padding-bottom: 8px;
}
