.socialLinks {
  a {
    color: inherit;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.65;
    }
  }

  span {
    font-size: 20px;
  }
}

.copyright {
  text-align: center;
  margin-top: 8px;
}
