.title {
  margin: 0 !important;
}

.description {
  white-space: pre-wrap;
  margin-bottom: 0 !important;
}

.sectionButton {
  display: block;
  margin: 1em 0 1em auto;
}

.tabTypeContainer {
  margin: 1em 0 1.5em 0;
}

.materialButton {
  display: block;
  margin: 1em 0 1em auto;
}

.gradTabIcon {
  font-size: 18px;
  margin-right: 8px;
}
