.editableText_changeButton {
  display: block;
  margin-left: auto;
  margin-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
}

.editableText_errorAlert {
  margin-bottom: 0.5em;
}

.editableText_actionButtons {
  display: flex;
  justify-content: right;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 2em;
}

.editableTextInput_textarea {
  margin-bottom: 1em;
}
